.cardsList{  //Conteneur de cards
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    

    



    &__card{    //Une card
        width: 350px;




        &__img{ //L'image en haut de la card
            width: 100%;
        }

        &__genreList{   //Zone dans la quelle se trouvent les badges de genres
            flex-wrap: wrap;

        }

        &__title{   //Titre principal de la card
            font-size: 1.3em;
            font-weight: 700;
        }

        &__developper{  //nom du développeur
            color:gray;

        }

        &__p{   //Description du jeu
            line-height: 1.2em;
        }
    }
}