.cardsList{  //Conteneur de cards
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    

    padding: 0.5em;
    

    



    &__card{    //Une card
        
        border-radius: 65px;
        overflow: hidden;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        

        background: rgb(55,60,95);
        background: linear-gradient(147deg, rgba(55,60,95,1) 0%, rgba(113,119,166,1) 45%);

        transition: transform 1s;

        @include media-desktop-only{
            width: 350px;

            &:hover{
                transform: scale(105%);
                transition: 1s;
            }
        }


        &__img{ //L'image en haut de la card
            width: 100%;
        }

        &__genreList{   //Zone dans la quelle se trouvent les badges de genres
            flex-wrap: wrap;

        }

        &__title{   //Titre principal de la card
            font-size: 29px;
            font-weight: 700;
        }

        &__content{
            margin:0.5em;
        }

        &__titleDescription{
            display: flex;
            justify-content: space-between;

            margin-bottom: 1em;

            color: #2FBCEC;

            font-weight: bold;
            ;
        }

        &__developper{  //nom du développeur
            

        }

        &__p{   //Description du jeu
            line-height: 1.2em;
        }
        &__socialLink{
            text-align: center;
            padding: 1em;
        }
    }
}