@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nanum+Gothic+Coding:wght@400;700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #373C5F;
  font-family: 'Nanum Gothic Coding', monospace;
  color: white; }

.container {
  max-width: 1400px;
  margin: 0 auto;
  border: 1px solid black; }

h1 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 29px;
  font-weight: bold; }

.badgesList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
  margin: 16px 0; }
  .badgesList a {
    display: inline-block;
    background-color: rgba(23, 25, 43, 0.82);
    padding: 8px;
    border-radius: 11px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bold; }
    @media screen and (min-width: 750px) {
      .badgesList a:hover {
        transform: scale(110%);
        transition: 1s; } }

.header {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0.5em; }
  .header__img {
    width: 100px; }
  .header__content h1 {
    font-size: 22px; }
  .header__content p {
    line-height: 22px; }

.cardsList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 0.5em; }
  .cardsList__card {
    border-radius: 65px;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #373c5f;
    background: linear-gradient(147deg, #373c5f 0%, #7177a6 45%);
    transition: transform 1s; }
    @media screen and (min-width: 750px) {
      .cardsList__card {
        width: 350px; }
        .cardsList__card:hover {
          transform: scale(105%);
          transition: 1s; } }
    .cardsList__card__img {
      width: 100%; }
    .cardsList__card__genreList {
      flex-wrap: wrap;
      margin-top: -20px; }
    .cardsList__card__title {
      font-size: 29px;
      font-weight: 700; }
    .cardsList__card__content {
      margin: 0.5em; }
    .cardsList__card__titleDescription {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1em;
      color: #2FBCEC;
      font-weight: bold; }
    .cardsList__card__p {
      line-height: 1.2em; }
    .cardsList__card__socialLink {
      text-align: center;
      padding: 1em; }

/*# sourceMappingURL=style.css.map */
